name: CI
on:
  pull_request:
  push:
    branches:
      - main
  workflow_call:

jobs:
  build_and_test:
    strategy:
      matrix:
        stack_yaml:
          - stack-ghc-8.10.yaml
          - stack-ghc-9.0.yaml
          # - stack-ghc-9.2.yaml
          - stack-ghc-9.4.yaml
          - stack-persistent-2.13.yaml
          - stack-persistent-2.14.yaml
        include:
          - stack_yaml: stack.yaml
            latest: true

    name: build_and_test (${{ matrix.stack_yaml }})
    runs-on: ubuntu-22.04
    services:
      postgres:
        image: postgres:13.1
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
          POSTGRES_DB: persistent_mtl
        ports:
          - 5432:5432
    env:
      STACK_YAML: ${{ matrix.stack_yaml }}
      TEST_POSTGRESQL: 1

    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: ~/.stack
          key: ${{ runner.os }}-stack-cache-${{ hashFiles(matrix.stack_yaml, 'package.yaml') }}
      - run: stack test --coverage

      - name: Check that files are unmodified
        run: git diff --exit-code

      # upload coverage data
      - name: Generate coverage data
        run: stack install hpc-lcov && hpc-lcov
      - uses: codecov/codecov-action@v3
        with:
          files: lcov.info
        if: ${{ matrix.latest }}

  lint:
    runs-on: ubuntu-latest
    env:
      HLINT_VERSION: '3.5'
      FOURMOLU_VERSION: '0.10.1.0'
    steps:
      - uses: actions/checkout@v3

      - name: Install hlint
        run: |
          HLINT_ARCHIVE="hlint-${HLINT_VERSION}-x86_64-linux.tar.gz"
          curl -sSLO "https://github.com/ndmitchell/hlint/releases/download/v${HLINT_VERSION}/${HLINT_ARCHIVE}"
          tar xzf "${HLINT_ARCHIVE}" -C /usr/local/bin/ --strip-components=1 "hlint-${HLINT_VERSION}/hlint"

      - name: Install fourmolu
        run: |
          curl -sSL \
            "https://github.com/fourmolu/fourmolu/releases/download/v${FOURMOLU_VERSION}/fourmolu-${FOURMOLU_VERSION}-linux-x86_64" \
            -o /usr/local/bin/fourmolu
          chmod +x /usr/local/bin/fourmolu

      - run: pip install pre-commit
      - run: pre-commit run --all-files -v --show-diff-on-failure
        env:
          SKIP: no-commit-to-branch

  check_sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: ~/.stack
          key: ${{ runner.os }}-check_sdist-${{ hashFiles('stack.yaml', 'package.yaml') }}

      - name: Strip unreleased section from CHANGELOG
        run: sed -i -n '/^# Unreleased/d; /^#/,$p' CHANGELOG.md

      - name: Create sdist bundle
        run: stack sdist --test-tarball --tar-dir .

      - uses: actions/upload-artifact@v3
        with:
          name: persistent-mtl-sdist
          path: persistent-mtl-*.tar.gz

  check_codegen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: ~/.stack
          key: ${{ runner.os }}-check_codegen-${{ hashFiles('stack.yaml') }}
      - run: scripts/generate/run.sh
      - run: git diff --exit-code *.hs
